<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i id="registered-users-loading" class="fa fa-users"></i>
				</div>
				<div class="title">{{registeredUsers}}</div>
				<div class="comment">Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left ">
					<i id="past-hour-loading" class="fa fa-clock-o"></i>
				</div>
				<div class="title">{{sentPastHour}}</div>
				<div class="comment">Past Hour</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i id="past-day-loading" class="fa fa-calendar-check-o"></i>
				</div>
				<div class="title">{{sentPastDay}}</div>
				<div class="comment">Past Day</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
<div class="row">
	<div class="col-lg-9">
		<rd-widget>
			<rd-widget-header icon="fa-history" title="Past 24 hours">
				<button class="btn btn-sm btn-primary" ng-click="getHistory()">Refresh</button>
			</rd-widget-header>
			<rd-widget-body id="chat-history-body" classes="medium no-padding">
                <!--<rd-loading></rd-loading>-->

				<div class="table-responsive">
					<table class="table" ng-init="getHistory()">
						<thead>
							<tr><th class="text-center">Sender</th><th>Message</th><th>Client Time</th><th>Server Time</th></tr>
						</thead>
						<tbody>
                            <tr ng-repeat="m in messages">
								<td class="text-center">{{ m.sender | limitTo: 20 }}{{m.sender.length > 20 ? '...' : ''}}</td>
								<td>{{ m.msg | limitTo: 32 }}{{m.msg.length > 32 ? '...' : ''}}</td>
								<td>{{m.client_time}}</td>
								<td>{{m.server_time}}</td>
							</tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
<!--<div class="row">-->
	<!--<div class="col-lg-6">-->
   		<!--<rd-widget>-->
			<!--<rd-widget-header title="Send Chat Message"></rd-widget-header>-->
   			<!--<rd-widget-body>-->
                <!--<form ng-submit="sendMessage()">-->
					<!--<label for="chat-sender">Sender</label>-->
					<!--<input id="chat-sender" type="text">-->
					<!--<label for="chat-message" >Message</label>-->
					<!--<input id="chat-message" type="text">-->
					<!--<input type="submit" class="pull-right" ng-click="sendMessage()">-->
				<!--</form>-->
   			<!--</rd-widget-body>-->
   		<!--</rd-widget>-->
	<!--</div>-->
<!--</div>-->
<!---->